.card {
  border: none;
  background-color: rgba(255, 255, 255, 0.85);
  width: 17rem;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
  margin: 0 auto;
  color: #000;
}

.card:hover {
  transform: translateY(-0.7rem);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
  transition: all 0.4s;
  cursor: pointer;
}

p {
  color: #000;
}
